@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1f2937;
  --background: #f9fafb;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
